version: '3.8'

services:
  mongodb:
    build:
      context: ./
      dockerfile: .docker/Dockerfile
    container_name: mongodb
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    networks:
      - app_network
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

volumes:
  mongodb_data:
    driver: local

networks:
  app_network:
    driver: bridge
